body {
  width: 800px;
  margin: 25px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  width: 300px;
}

input:focus {
  background-color: #cdcdcd;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerText {
  text-align: center;
}
